
<%= simple_form_for(@collage) do |f| %>

  <div class="field">
    <%= f.input :title, placeholder: 'Coollage Title', label: false %>
  </div>
  <div class="field">
    <%= f.input :author, placeholder: 'Author', label: false %>
  </div>
  <%= f.input :selected_images, as: :hidden %>
  <div class="collage_actions">
    <%= f.button :submit, class: "win_button", id: "create_coolage"%>
  </div>
<% end %>
