<h1>Listing collages</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @collages.each do |collage| %>
  <tr>
    <td><%= collage.title %></td>
    <td><%= collage.author %></td>
    <td><%= link_to 'Show', collage %></td>
    <td><%= link_to 'Edit', edit_collage_path(collage) %></td>
    <td><%= link_to 'Destroy', collage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Collage', new_collage_path %>
