<h1>Coollage Gallery</h1>
<%= link_to 'Create New Collage', root_path, class: "win_button" %>
<table>
  <% @collages.each_slice(4) do |slice| %>
    <tr>
      <% slice.each do |collage| %>
          <td>
            <%= link_to collage do %>
              <div class="image">
                <%= image_tag("/images/thumb_collage_#{collage.id}.png") %><br />
                <%= collage.title %><br />
                <%= collage.author_name%>
              </div>
            <% end -%>
          </td>
      <% end -%>
    </tr>
  <% end %>
</table>

<br />


